{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Student Management Application {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron p-3">
                    <h2>Manage <b>Student </b>
                        <button type="button" class="btn btn-success float-right"
                                data-toggle="modal"
                                data-target="#myModal">Add New Student
                        </button>

                        <button type="button" class="btn btn-info float-right mr-2"
                                onclick="window.location.href='{{url_for('exportDataToFile')}}'">Export to Text File
                        </button>
                    </h2>
                    <!----------------- Notification ------------------->
                    {% with messages = get_flashed_messages() %}
                    {% for message in messages %}
                    <div class="alert alert-success alert-dismissable" role="alert">
                         <button type="button" class="close" data-dismiss="alert" aria-label="close">
                            <span aria-hidden="true">x</span>
                         </button>
                        {{ message }}
                    </div>
                    {% endfor %}
                    {% endwith %}

                    <table class="table table-hover table-dark">
                        <tr>
                            <th>Roll Number</th>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email</th>
                            <th>Date of birth</th>
                            <th>Address</th>
                            <th>Score</th>
                            <th>Action</th>
                        </tr>

                        {% for row in students %}
                        <tr>
                            <td>{{row.rnumber}}</td>
                            <td>{{row.fname}}</td>
                            <td>{{row.lname}}</td>
                            <td>{{row.email}}</td>
                            <td>{{row.dob}}</td>
                            <td>{{row.address}}</td>
                            <td>{{row.score}}</td>
                            <td>
                                <a href="/update/{{row.rnumber}}" class="btn btn-warning btn-xs"
                                   data-toggle="modal"
                                   data-target="#modalEdit{{row.rnumber}}">Edit</a>
                                <a href="/delete/{{row.rnumber}}" class="btn btn-danger btn-xs"
                                   onclick="return confirm('Are you sure?')">Delete</a>
                            </td>
                        </tr>
                        <!----------------- Update ------------------->
                        <div id="modalEdit{{row.rnumber}}" class="modal fade" role="dialog">
                            {% include 'update_dialog.html' %}
                        </div>
                        {% endfor %}
                    </table>

                </div>
                <!----------------- Create ------------------->
                <div id="myModal" class="modal fade" role="dialog">
                    {% include 'create_dialog.html' %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}